* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
 
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-color: #ffd361;*/
    background-attachment: fixed;
    background-size: cover;
    background: rgb(136,98,0);
    background: linear-gradient(0deg, rgba(136,98,0,1) 0%, rgba(255,211,97,1) 44%, rgba(255,211,97,1) 100%);
    /*background: rgb(255,211,97);
    background: radial-gradient(circle, rgba(255,211,97,1) 54%, rgba(255,211,97,1) 68%, rgba(136,98,0,1) 100%);*/
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}

a {
    color: #fa623c;
}

.profile-box {
    background: #333333;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 10px white;
}
.container1 {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.button1 {
    background: #fff;
    color: #ff574a;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px white;
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 600;
    font-size: 16px;
}

.profile-pic {
    width: 300px;
    margin-bottom: 30px;
    border-radius: 110%;
}

.input-group-append {
    height: 10px;
}

.container2 {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box1 {
    background: #333333;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 10px white;
}

.buzz {
    color: black;
}

.imgcarousel {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box3 {
    background: #333333;
    text-align: center;
    padding: 40px 90px;
    color: black;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 10px white;
}

.container3 {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 0 5px 10px white; 
}